.homeheaderdiv {
	/* height: 60px; */
	/* align-items: center; */
	margin-top: 10px;
	display: grid;
	grid-template-columns: 4fr 3fr 2fr;
	overflow: hidden;

	padding-bottom: 10px;
	padding-top: 10px;
	border-bottom: 1px solid black;
}
.description-content::-webkit-scrollbar {
	height: 10px;
	border-radius: 5px;
	background-color: white;
}
.description-content::-webkit-scrollbar-thumb {
	background-color: rgba(0, 0, 0, 0.335);
	border-radius: 5px;
}
.inp-search {
	min-width: 150px;
	margin-left: 20px;
}
.header-end {
	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-gap: 1rem;
}
.titlebody {
	/* overflow: scroll; */
	min-width: 300px;
	padding-bottom: 10px;
	padding-left: 10px;
	display: grid;
	grid-template-columns: 6fr 2fr;
}
.titletext::selection {
	background-color: white;
	color: #1976d2;
}
.mainpostdatabody {
	position: absolute;

	padding: 20px;
	background-color: rgba(0, 0, 0, 0.075);
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	min-width: 100vw;
}
.send-data-form {
	margin-top: 70px;
	position: relative;
	min-height: 70vh;
	width: 70%;
	background-color: white;
	box-shadow: black 5px 5px 10px;
	border-radius: 10px;
}
.title-area {
	display: grid;
	grid-template-columns: 3fr 1fr;
	grid-gap: 0.5rem;
	margin-bottom: 20px;
}
@media screen and (max-width: 770px) {
	.homeheaderdiv {
		grid-template-columns: 1fr 3fr 1fr;
	}
	.send-data-form {
		width: 80%;
	}
}
@media screen and (max-width: 548px) {
	.homeheaderdiv {
		grid-template-columns: 1fr 4fr 1fr;
	}
	.send-data-form {
		width: 85%;
	}
}
@media screen and (max-width: 462px) {
	.inp-yy {
		display: flex;
	}
	.emojiInsert {
		display: none;
	}
	.homeheaderdiv {
		/* grid-template-columns: 0.5fr 6fr 1fr; */
		display: flex;
		/* grid-template-rows: 0fr 1fr 0fr; */
		/* align-items: center; */
		justify-content: right;
		border: none;
	}
	.header-end {
		/* grid-gap: 2rem; */
	}
	/* header {
		
		border-bottom: 1px solid black;
	} */
	.send-data-form {
		width: 90%;
	}
}
@media screen and (max-width: 395px) {
	.inp-yy {
		display: none;
	}
	.title-area {
		display: flex;
		flex-direction: column;
	}
	.emojiInsert {
		display: none;
	}
	.homeheaderdiv {
		/* grid-template-columns: 0.5fr 6fr 1fr; */
		grid-template-rows: 0fr 1fr 0fr;
	}
	.header-end {
		/* grid-gap: 2rem; */
	}
	.send-data-form {
		width: 95%;
	}
}
@media screen and (max-width: 330px) {
	.inp-yy {
		display: none;
	}
	.homeheaderdiv {
		/* grid-template-columns: 0.5fr 6fr 1fr; */
		grid-template-rows: 0fr 1fr 0fr;
	}
	.header-end {
		/* grid-gap: 2rem; */
	}
	.send-data-form {
		width: 100%;
	}
	.titlebody {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		/* justify-content: center; */
	}
	.title-area {
		display: flex;
		flex-direction: column;
	}
	.btn {
		/* background-color: white; */
		display: flex;
		/* text-align: center; */
		align-items: center;
		justify-content: center;
		width: 75%;
	}
	.maintitletext {
		/* overflow: scroll; */
		font-size: 20px;
	}
	#more {
		font-size: 20px;
	}
	.showmorelink {
		font-size: 10px;
	}
}
